---
import ExampleLayout from "../../layouts/ExampleLayout.astro";
import Basic from './(examples)/index.mdx';
const selected = '/basic-usage'
import {TITLE_TRANSITION} from '../../components/consts';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<link rel="canonical" href={canonicalURL} />
<ExampleLayout title="Welcome to SVG Title: Basic Usage" selected={selected}>

    <h1 transition:name="page-title" transition:animate={TITLE_TRANSITION}>Basic Usage</h1>
    <p>Here's simple examples of how to create a basic table using SVG Table:</p>

    <div class="section">
        <div class="example-container">
            <Basic />
            </div>
        </div>
    </div>
</ExampleLayout>