---
import CommonLayout from './CommonLayout.astro';

interface Props {
	title: string;
	selected: string;
}

const { title, selected } = Astro.props;
---
<CommonLayout title={title} selected={selected}>
	<main class='main-container' >
		<slot />
	</main>
</CommonLayout>

<style is:global>
	.content-container:has(.main-container){
		display: flex;
	}
	.main-container {
		width: 100%;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: max-content;
	}
</style>