---
import { ViewTransitions } from 'astro:transitions';
import TopNav from './(comps)/TopNav.astro';
import SideNav from './(comps)/SideNav.astro';
import CommonLayout from './CommonLayout.astro';

interface Props {
	title: string;
	selected: string;
}

const { title, selected } = Astro.props;
---
<CommonLayout title={title} selected={selected}>
	<!-- <main class='main-container'  transition:name="content"> -->
		<slot />
	<!-- </main> -->
</CommonLayout>
