---
import CommonLayout from './CommonLayout.astro';

interface Props {
	title: string;
	selected: string;
}

const { title, selected } = Astro.props;
---
<CommonLayout title={title} selected={selected}>
	<main class='main-container' >
		<slot />
	</main>
</CommonLayout>

<style>
	.main-container {
		padding: 2rem;
		
	}
</style>