---
import ExampleLayout from "../../layouts/ExampleLayout.astro";
import Basic from './(examples)/index.mdx';
const selected = '/customizing-content'
---

<ExampleLayout title="Welcome to SVG Title: Customizing Contents" selected={selected}>

    <h1>Customizing contents</h1>
    <p>SVG Table allows multiple ways of customization for the cell contents.</p>

    <div class="section">
        <div class="example-container">
            <Basic />
            </div>
        </div>
    </div>
</ExampleLayout>