---
import IndividualLayout from '../layouts/IndividualLayout.astro';

---

<IndividualLayout title='Welcome to SVG Title: Api'>
	<h1>API Reference</h1>
	
    this page is under construct
</IndividualLayout>
