---
import InteractiveLogo from '../components/InteractiveLogo.astro';
import CenteredLayout from '../layouts/CenteredLayout.astro';
const selected = '/fine-level-control';
import {TITLE_TRANSITION} from '../components/consts';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<link rel="canonical" href={canonicalURL} />
<CenteredLayout title='Welcome to SVG Table' selected={selected}>
	<h1  transition:name="page-title" transition:animate={TITLE_TRANSITION}>Fine-level Control</h1>
	<p>SVG Table allows you to add className on the table or cells.</p>
	<p>
		(default behavior does not create class attributes to save file size.)
	</p>
	<p>
		Once you add it, the internal structure will automatically generate
		class names.
	</p>
	<p>
		(i.e. XX-wrapper, XX-content, ...)
	</p>
	<p>
		You can add your own styles such as animation or themes using the class
		names.
	</p>

	<h2>Try to hover over each boxes!</h2>
	<InteractiveLogo />
</CenteredLayout>
