---

import ApiRefs from './(examples)/api-refs.mdx';
import IndividualLayout from '../layouts/IndividualLayout.astro';
---
<IndividualLayout title="Welcome to SVG Table">
	<h1>SVG Table</h1>
	<p>SVG Table is a powerful and flexible library for creating tables using SVG. It accepts a javascript object to generate a simple table structures with customizable styles and behaviors.</p>
	
	<div class="section">
		<h2>Features</h2>
		<ul class="features-list">
		<li>Create tables using SVG for maximum flexibility and styling options</li>
		<li>Support for both column and row span functionality with customizable gap and borer styles</li>
		<li>Customizable cell contents, including all SVG elements</li>
		<li>Easy-to-use API for defining table structure and styling</li>
		<li>Lightweight and performant, with no other dependency other than React</li>
		</ul>
	</div>

	
	<div class="section" id="installation">
		<h2>Installation</h2>
		<p>To install SVG Table, run the following command in your project directory:</p>
		<pre><code>npm install @shjeon0730/svg-table</code></pre>
	</div>
	
	
	<div class="section">
		<h2>API Reference</h2>
		<ApiRefs />
		
	</div>
	
	<div class="note">
		<div class="note-title">Note</div>
		<p>SVG Table is currently targeting only for React components. If you want to use it for the other project, feel free to fork for your use case!</p>
	</div>
	
	<div class="section">
		<h2>Contributing</h2>
		<p>We welcome contributions to SVG Table! Please check out our <a href="https://github.com/wootra/svg-table/blob/main/CONTRIBUTING.md">contribution guidelines</a> for more information on how to get started.</p>
	</div>
	
	<div class="section">
		<h2>License</h2>
		<p>SVG Table is released under the MIT License. See the <a href="https://github.com/wootra/svg-table/blob/main/LICENSE">LICENSE</a> file for more details.</p>
	</div>
		  
</IndividualLayout>
