---
import ScrollLayout from '../layouts/ScrollLayout.astro';
const selected = '/introduction';
import {TITLE_TRANSITION} from '../components/consts';
import CodeHolder from '@/components/CodeHolder.astro';
import NoteHolder from '@/components/NoteHolder.astro';
import FeatureListHolder from '@/components/FeatureListHolder.astro';
import { LogoDemo } from '@repo/demo-components-react';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<link rel="canonical" href={canonicalURL} />
<ScrollLayout title="Welcome to SVG Table: Introduction" selected={selected}>
	<CodeHolder/>
	<NoteHolder />
	<FeatureListHolder />
	<h1 transition:name="page-title" transition:animate={TITLE_TRANSITION}>Introduction</h1>
	<p>SVG Table is a powerful and flexible library for creating HTML like table using SVG. 
		Through very simple structure of data, it can create complex table experience using SVG.
		Completely free to use! #svg-table #svgtable #table-using-svg #svg #table #free-svg-table</p>
	<div class="logo-holder">
		<LogoDemo width={640}/>

	</div>

	<div class="section" id="features">
		<h2>Features</h2>
		<ul class="features-list">
		<li>Flexible Layout</li>
		<li>SVG Power</li>
		<li>Multi-context design</li>
		<li>HTML like interface(React,Solid only - from 3.1.0)</li>
		<li>JSON like interface(React,Solid,Vanilla)</li>
		<li>Easy integration</li>
		<li>Multiline support</li>
		<li>Accessibility Support</li>
		<li>Many Examples</li>
		</ul>
	</div>

	
	<div class="section" id="installation">
		<h2>Installation</h2>
		<p>To install SVG Table, run the following command in your project directory:</p>
		<pre><code>npm install @shjeon0730/svg-table</code></pre>
	</div>
	
	<div class="note" id="note">
		<div class="note-title">Note</div>
		<p>SVG Table currently supports React.js, Solid.js, and Vanilla JS. HTML format is currently only support for React.js. Solid.js is WIP status </p>
	</div>
	
	<div class="section" id="contributing">
		<h2>Contributing</h2>
		<p>We welcome contributions to SVG Table! Please check out our <a href="https://github.com/wootra/svg-table/blob/main/CONTRIBUTING.md">contribution guidelines</a> for more information on how to get started.</p>
	</div>
	
	<div class="section" id="license">
		<h2>License</h2>
		<p>SVG Table is released under the MIT License. See the <a href="https://github.com/wootra/svg-table/blob/main/LICENSE">LICENSE</a> file for more details.</p>
	</div>
		  
</ScrollLayout>

<style>
	.logo-holder {
		display: flex;
		justify-content: center;
		align-items: center;
		height: max-content;
		margin-bottom: 2rem;
		margin-block: 2rem;
	}

	


</style>