---
type Props = {
	selected: string;
}
const selected = Astro.props.selected;
const hash = Astro.url.hash;
console.log(Astro.url, hash)
const linkOrSelected = (link: string) => selected === link || (selected+hash) === link ? {href: '#', class: 'selected'}: {href:link};
---

<nav class='side-nav'>
	<ul>
		<li><a {...linkOrSelected('/')}>Introduction</a></li>
		{selected === '/' && (<ul class="sub">
			<li><a href='#features'>Features</a></li>
<li><a href='#installation'>Installation</a></li>
<li><a href='#note'>Note</a></li>
<li><a href='#contributing'>Contributing</a></li>
<li><a href='#license'>License</a></li>

			
		</ul>)}
		<li><a {...linkOrSelected('/basic-usage')}>Basic Usage</a></li>
		{selected === '/basic-usage' && (<ul class="sub">
			<li><a href='#basic-demo'>Basic Demo</a></li>
			<li><a href='#table-with-custom-element'>Table with custom element</a></li>
			<li><a href='#custom-element-with-props'>Custom element with props</a></li>
			<li><a href='#allow-contents-overflow'>Allow contents overflow</a></li>
			<li><a href='#control-overflow-behavior-individually'>Control overflow behavior individually</a></li>
			<li><a href='#gaps-between-columns-and-rows'>Gaps between columns and rows</a></li>
			<li><a href='#text-position-adjustment'>Text position adjustment</a></li>
		</ul>)}
		<li><a {...linkOrSelected('/custom-tables')}>Custom Tables</a></li>

		{selected === '/custom-tables' && (<ul class="sub">
			<li><a href='#no-border-table'>No border table</a></li>
			<li><a href='#table-border'>No border table</a></li>
			<li><a href='#table-border-styles'>table border styles</a></li>
			<li><a href='#outbound-labels'>outbound labels</a></li>
			<li><a href='#background-and-text-color-change'>background and text color</a></li>
		</ul>)}
		
		<li><a {...linkOrSelected('/advanced-usage')}>Advanced Usage</a></li>

		{selected === '/advanced-usage' && (<ul class="sub">
			<li><a href='#tables-in-a-table'>Tables in a table</a></li>
			<li><a href='#auto-aligned-embeded-tables'>Auto aligned embeded tables</a></li>
			<li><a href='#text-override'>Text override</a></li>
			<li><a href='#play-with-styles-even-more'>Play with styles even more</a></li>
		</ul>)}
		<li><a {...linkOrSelected('/responsive')}>Responsive</a></li>
<li><a {...linkOrSelected('/features')}>Features</a></li>
<li><a {...linkOrSelected('/examples')}>Examples</a></li>
<li><a {...linkOrSelected('/api')}>API Reference</a></li>

	</ul>
</nav>

<style>
	.side-nav ul.sub > li {
		padding-left: 1rem;
	}
	a.selected {
		color: rgb(219, 249, 159);
		box-shadow: 0 2px 0 0 rgb(219, 249, 159);
		pointer-events: none;
		text-decoration: none;
	}
</style>