---
---
<nav class='top-nav'>
	<a href='/' class='brand'>
		SVG Table
	</a>
	<div class='top-nav-links'>
		<a
			href='https://www.npmjs.com/package/@shjeon0730/svg-table'
			target='_blank'
		>
			NPM
		</a>
		<a href='https://github.com/wootra/svg-table' target='_blank'>
			GitHub
		</a>
		<a href='#' target='_blank'>
			Donate
		</a>
	</div>
</nav>
