---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { AllDemo } from '@repo/demo-components-solid';
const selected = '/examples/solid';
import { TITLE_TRANSITION } from '../../components/consts';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<link rel='canonical' href={canonicalURL} />
<ExampleLayout title='Welcome to SVG Title: Examples: Solid.js' selected={selected}>
	<h1 transition:name='page-title' transition:animate={TITLE_TRANSITION}>Examples(Solid.js)</h1>
	<p>Thes examples are quick demo with its code. ( I used this page for validation of functionalities! ).</p>
	<p>
		Here is <a href='https://github.com/wootra/svg-table/tree/main/packages/demo-components-solid' target='_blank'
			>all DEMO code</a>
	</p>
	<p>If you want to see more, Go go <a href='/basic-usage'>Basic Usage</a> and more pages.</p>
	<div class='section'>
		<div class='example-container'>
			<AllDemo width={700} client:only="solid" />
		</div>
	</div>
</ExampleLayout>
