---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import Custom from './(examples)/index.mdx';
const selected = "/custom-tables"
import {TITLE_TRANSITION} from '../../components/consts';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<link rel="canonical" href={canonicalURL} />
<ExampleLayout title='Welcome to SVG Title: Custom Cell Content' selected={selected}>

	<h1 transition:name="page-title" transition:animate={TITLE_TRANSITION}>Customizing Tables</h1>
	<p>
		SVG Table allows customizing table shapes such as borders and backgrounds.
	</p>

	<div class='section'>
		
		<div class='example-container'>
			<Custom />
		</div>

	</div>
</ExampleLayout>
