---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import Custom from './(examples)/custom.mdx';
const selected = "/custom-tables"
---

<ExampleLayout title='Welcome to SVG Title: Custom Cell Content' selected={selected}>

	<h1>Custom Cell Content</h1>
	<p>
		SVG Table allows you to customize cell content with any valid SVG
		elements. Here's examples:
	</p>

	<div class='section'>
		
		<div class='example-container'>
			<Custom />
		</div>

	</div>
</ExampleLayout>
