---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import Custom from './(examples)/index.mdx';
const selected = "/custom-tables"
---

<ExampleLayout title='Welcome to SVG Title: Custom Cell Content' selected={selected}>

	<h1>Customizing Tables</h1>
	<p>
		SVG Table allows customizing table shapes such as borders and backgrounds.
	</p>

	<div class='section'>
		
		<div class='example-container'>
			<Custom />
		</div>

	</div>
</ExampleLayout>
