---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import Responsive from './_examples/Responsive';
import Responsive2 from './_examples/Responsive2';
const selected = "/responsive"
---

<ExampleLayout title='Welcome to SVG Title: Responsive Tables' selected={selected}>

	<h1>Responsive Tables</h1>
	<p>
		SVG Table technically does not supports CSS way of responsive layout, 
		but it will re-adjust the cells width based on the table's width.
		from 1.3.0, it supports <a href="/advanced-usage#auto-aligned-embeded-tables">auto aligned embeded table</a>,
		so multiple layer of table is easy to make just passing javascript object.

	</p>
	<div class='section'>
		<Responsive client:load/>

	</div>

	<div class='section'>

		<Responsive2 client:load/>
	</div>
	
</ExampleLayout>
