---
import ExampleLayout from '@/layouts/ExampleLayout.astro';
import Examples from './(examples)/index.mdx';
const selected = "/responsive"
import {TITLE_TRANSITION} from '@/components/consts';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

---
<link rel="canonical" href={canonicalURL} />
<ExampleLayout title='Welcome to SVG Title: Responsive Tables' selected={selected}>

	<h1 transition:name="page-title" transition:animate={TITLE_TRANSITION}>Responsive Tables</h1>
	<p>
		SVG Table technically does not supports CSS way of responsive layout, 
		but it will re-adjust the cells width based on the table's width.
		from 1.3.0, it supports <a href="/advanced-usage#auto-aligned-embeded-tables">auto aligned embeded table</a>,
		so multiple layer of table is easy to make just passing javascript object.

	</p>
	<div class="section">
        <div class="example-container">
            <Examples />
            </div>
        </div>
    </div>
	
</ExampleLayout>
