---
import ExampleLayout from '../(layouts)/ExampleLayout.astro';
import Advanced from './(examples)/advanced.mdx';
const selected = '/advanced-usage'
---

<ExampleLayout title='Welcome to SVG Title: Advanced Usage' selected={selected}>
	<h1>Advanced Usage</h1>
	<p>
		SVGTable is not overly complex by nature. Its simiplicity allows
		combining with multiple different SVGs, even SVGTable itself.
	</p>

	<div class='section'>
		<div class='example-container'>
			<Advanced />
		</div>
	</div>
</ExampleLayout>
