---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import Custom from './(examples)/custom.mdx';
import Advanced from './(examples)/advanced.mdx';
import Responsive from './(examples)/responsive.mdx';
---

<ExampleLayout title='Welcome to SVG Title: Advanced Usage'>
	<h1>Advanced Usage</h1>
	<p>
		Here's simple examples of how to create a basic table using SVG Table:
	</p>

	<div class='section'>
		<h2>Custom Cell Content</h2>
		<p>
			SVG Table allows you to customize cell content with any valid SVG
			elements. Here's examples:
		</p>

		<div class='example-container'>
			<Custom />
		</div>

		<h2>Complex usecases</h2>
		<p>
			SVGTable is not overly complex by nature. Its simiplicity allows
			combining with multiple different SVGs, even SVGTable itself.
		</p>

		<div class='example-container'>
			<Advanced />
		</div>

		<h2>Responsive Tables</h2>
		<p>
			SVG Table technically does not supports responsive layout, but you
			can pass width of the table and SVGTable will redraw the cells with
			recalculated widths.
		</p>

		<div class='example-container'>
			<Responsive />
		</div>
	</div>
</ExampleLayout>
